html
{
    --dark-color: #292E2C;
    --light-color: #545547;
    --white-color: #F5E6E8;
    --blue-color: #5C95FF;
    --purple-color: #9E4770;
    --nav-height: 80px;
    --nav-options-width: 0px;
    --right-aside-width: 20vw;
    --sticky-icon-space: 80px;

    font-size: 1em;
}

@media (max-width: 1000px)
{
    html
    {
        --right-aside-width: 0px;
    }
}

@media (max-width: 500px)
{
    html
    {
        --sticky-icon-space: 0px;
    }
}

body
{
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
    color: var(--white-color);
    font-family: Roboto, monospace;
    text-align: justify;
}

h1
{
    font-size: 2rem;
}

@media (min-width: 1200px)
{
    h1
    {
        font-size: 3rem;
    }
}

ul
{
    list-style: none;
}

dl
{
    display: flex;
    flex-wrap: wrap;
}

.egg-list-item
{
    flex-basis: 300px;
    flex-grow: 1;
    min-width: 200px;
}

a:link
{
    color: #5C95FF;
}

a:active
{
    color: blue;
}

a:visited
{
    color: #9E4770;
}

a.anchor
{
    display: block;
    position: relative;
    top: calc(-1 * var(--nav-height));
    visibility: hidden;
}

.right-ad
{
    height: 100%;
    width: var(--right-aside-width);
    background-color: var(--dark-color);
    box-shadow: 0 0 20px -5px #5C95FF;
    position: fixed;
    right: 0;
    top: var(--nav-height);
    text-align: center;
    outline: 4px solid #545547;
    font-style: italic;
    z-index: 1;
}

.right-ad img
{
    width: 90%;
}

.sticky-icon-container
{
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 1;
    width: var(--sticky-icon-space);
    height: calc(100% - 100px);
    text-align: center;
}

.sticky-icon-container img
{
    width: 70%;
    background-color: #9E4770;
    position: sticky;
    top: calc(var(--nav-height) + 5px);
}

main
{
    position: relative;
    margin-top: var(--nav-height);
    margin-right: var(--right-aside-width);
    padding: 10px 0;
}

.box
{
    margin-right: 3%;
    margin-left: max(var(--sticky-icon-space), 3%);
    padding: 1px 25px 20px;
    border-radius: 20px;
    background-color: var(--dark-color);
}

img, picture, video, form, fieldset, iframe, input, textarea, select, label
{
    max-width: 100%;
}

main img, picture, video
{
    border-radius: 40px;
}

.image-box
{
    width: 300px;
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.floating-image
{
    float: right;
    max-width: 300px;
    width: 70%;
    margin-left: 30px;
}

.image-box img
{
    width: 95%;
}

.image-box img:hover
{
    width: 96%;
}

footer
{
    position: relative;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    border-top: 5px solid var(--light-color);
    background-color: var(--dark-color);
    z-index: 2;
}

nav
{
    --nav-dropdown-height: 200px;

    box-sizing: content-box;
    width: 100%;
    height: var(--nav-height);
    border-bottom: var(--light-color) solid 4px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar
{
    background-color: var(--dark-color);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    height: 100%;
}

nav .logo
{
    flex-basis: 60px;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: end;
}

nav .logo a
{
    flex-basis: 90%;
}

nav .logo a img
{
    width: 100%;
    position: relative;
    z-index: 3;
}

.navbar ul
{
    flex-basis: 0;
    flex-grow: 1;
    margin: 0;
    padding: 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*height: 80%;*/
    line-height: calc(0.8 * var(--nav-height));
    list-style: none;
    text-align: center;
}

.navbar li
{
    flex-grow: 1;
    min-width: min-content;
    max-width: 300px;
    height: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
}

.navbar li a
{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 5px solid var(--dark-color);
}

.navbar li a:link
{
    color: var(--white-color);
    text-decoration: none;
}

.navbar li a:hover
{
    border-bottom: 5px solid var(--white-color);
}

.navbar li a:visited
{
    color: var(--white-color);
}

.navbar .dropdown-button
{
    background-color: var(--dark-color);
    width: var(--nav-options-width);
    height: var(--nav-options-width);
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
}

.navbar .dropdown a:hover, .dropdown:hover, .dropdown-button
{
    background-color: var(--blue-color);
}

.navbar .dropdown-content
{
    background-color: var(--light-color);
    position: absolute;
    top: calc(var(--nav-height) - 5px);
    right: 10px;
    z-index: 2;
    transition-property: height, visibility;
    transition-duration: 0.5s, 0.35s;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    height: 0;
    visibility: hidden;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    overflow: hidden;
    gap: 2px;
    border: 2px solid var(--light-color);
    border-radius: 5px;
}

.navbar .dropdown-content a
{
    background-color: var(--dark-color);
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid var(--light-color);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.navbar .dropdown:hover .dropdown-content
{
    transition-property: height, visibility;
    transition: 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    height: var(--nav-dropdown-height);
    visibility: visible;
}

@media (max-width: 767px)
{
    html
    {
        --nav-options-width: var(--nav-height);
    }
    .navbar ul
    {
        visibility: hidden;
    }
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}